@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#d3d4d9, #fff9fb);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4b0723a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #4b0723;
    text-align: center;
    text-shadow: 1px 1px 2px #2b04146e;
}

h2{
    color: #BB0A21;
}

p{
    text-align: justify;
}